.news-list {
  display: flex;
  width: 100%;
}

.news-ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: auto;
  list-style: none;
  margin: 0;
}
@media screen and (max-width: 1450px) {
  .news-ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: auto;
    list-style: none;
    margin: 0;
  }
}
@media screen and (max-width: 1100px) {
  .news-ul {
    display: grid;
    grid-template-columns: auto auto;
    padding: auto;
    justify-items: center;
    list-style: none;
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .news-ul {
    display: block;
    width: 100%;
    list-style: none;
    margin: 0;
  }
}
.news-item {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  padding: 30px;
  background-color: var(--main-bg-color);
}
@media screen and (max-width: 800px) {
  .news-item {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 300px;
    padding: 30px 0;
    margin: 10px 0;
    background-color: var(--main-bg-color);
  }
}
.news-item-thumbnail-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.news-item-thumbnail {
  position: relative;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  object-fit: cover;
  overflow: hidden;
}
.news-item-title {
  font-weight: bold;
  color: var(--light-font-color);
  font-size: 15pt;
}
.news-item-date {
  float: right;
  color: var(--light-font-color);
}

.ngram-bar {
  display: flex;
  height: 5px;
  position: absolute;
  bottom: 30px;
  width: 300px;
}
