html {
  scroll-behavior: smooth;
}
.news-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.acticle-content {
  grid-column: 1 / 5;
  height: 100%;
  padding: 30px 50px;

  background-color: var(--third-color);
}
@media screen and (max-width: 800px) {
  .acticle-content {
    position: relative;
    grid-row: 1;
    grid-column: 1 / 6;

    padding: 10px 30px;
  }
}
.news-text {
  margin-top: 30px;
}
.sentence {
  line-height: 25px;
  background-color: transparent;
  transition: background-color;
  transition-duration: 1s;

  cursor: pointer;
}
.sentence-highlight {
  background-color: var(--second-color);
  transition: background-color;
  transition-duration: 1s;
}
.spacing {
  height: 20px;
}
.article-photo-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
@media screen and (max-width: 400px) {
  .article-photo-container {
    width: 100%;
    overflow: hidden;
  }
}
.article-photo-container img {
  position: relative;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  object-fit: cover;
  overflow: hidden;
}
@media screen and (max-width: 400px) {
  .article-photo-container img {
    position: relative;
    top: 25%;
  }
}
.article-author {
  text-align: right;
}
.article-publisher {
  text-align: right;
}

.recommend-words-container {
  grid-column: 5 / 6;
  background-color: var(--second-color);
  height: 100%;
  min-width: 250px;
  padding: 30px 50px;
}

@media screen and (max-width: 800px) {
  .recommend-words-container {
    position: relative;
    display: block;
    grid-row: 2;
    grid-column: 1 / 6;

    padding: 10px 30px;
  }
}
.recommend-words {
  width: 100%;
}
.recommend-word-container {
  margin: 10px 0;
  padding: 5px;
  border: var(--main-color) 2px solid;
}
.recommend-words-title {
  color: var(--light-font-color);
}
.button {
  cursor: pointer;
}
.recommend-word {
  margin: 5px 0px;
  color: var(--light-font-color);
}
.recommend-word:hover {
  font-weight: bold;
}
.recommend-translation {
  margin: 5px 0px;
  color: var(--third-color);
}
.save-button {
  color: var(--third-color);
}

/* loading icon */
.lds-ring {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  left: 50%;
  transform: translate(-50%, 0);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
