:root {
  --main-color: rgb(50, 119, 134);
  --dark-main-color: rgb(30, 39, 92);
  --second-color: rgb(0, 86, 104);
  --third-color: rgb(153, 187, 194);
  --main-bg-color: rgb(68, 85, 93);
  --light-font-color: rgb(255, 255, 255);
  --dark-font-color: rgb(0, 0, 0);
}

body {
  margin: 0;
  background-color: var(--main-color);
  font-family: "Noto Sans KR", sans-serif;
}
.nav {
  background-color: var(--main-color);
}
.nav-logo {
  height: 50px;
  padding: 10px;
  display: inline-block;
}

.nav-menu {
  width: 100%;
  display: block;
  box-shadow: 0px 5px 5px 0px rgba(150, 150, 150, 1);
}
.nav-ul {
  display: inline-block;
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  right: 0;
  list-style: none;
  text-align: right;
  margin: 0;
  padding: 26px 0;
  margin-right: 35px;
}
.navicon {
  cursor: pointer;
  display: none;
  position: relative;
  user-select: none;
}

.nav-item {
  display: inline-block;
  line-height: 100%;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  cursor: pointer;
}
@media screen and (max-width: 850px) {
  .nav-ul {
    display: inline-block;
    position: absolute;
    margin: 0;
    list-style: none;
    text-align: left;
    padding: 0;
    z-index: 2;
    width: 100%;
    background-color: var(--main-bg-color);
  }
  .nav-item {
    display: none; /*block*/
    line-height: 100%;
    text-align: center;
    padding: 30px 0;
    cursor: pointer;
    border-top: var(--light-font-color) 2px solid;
  }
  .navicon {
    display: inline-block;
    position: relative;
    padding: 26px;
    float: right;
    cursor: pointer;
    user-select: none;
  }
  .navicon > div {
    width: 30px;
    height: 5px;
    margin-top: 5px;
    background-color: black;
  }
}
@media screen and (max-width: 850px) {
}

.nav-item > a {
  margin-left: 35px;
  padding-top: 23px;
  text-transform: uppercase;
  color: var(--light-font-color);
  text-decoration: none;
}
.nav-item > a.active {
  font-weight: bold;
  border-top: white solid 2px;
}
@media screen and (max-width: 850px) {
  .nav-item > a.active {
    font-weight: bold;
    border-top: transparent solid 2px;
  }
}
.content {
  position: absolute;
  display: block;

  width: 100%;

  background-color: var(--second-color);
}
